.container{
    position: relative;
}

.section1{
    display:flex;
    height: 70vh;
    background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
border: 1px solid rgba(255, 255, 255, 0.6);
}

.section1 div{
    justify-self: center;
    align-self: center;
}

.section1 div h2{
    font-family: Poligon;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}
.section1 div p{
    text-align: center;
}
.section1 img{
    z-index: 10000000000000000000000000000000000000000000000000000000000000;
    /* height:100vh; */
    width:30vw;
    object-fit: cover;
}


.section1 .yellow_ellipse{
    height: 100vh;
}

.section1 .purple_ellipse{
    margin-top: -100px;
    height: 80vh;
    /* width:50vw */
}

.section2{
    display: flex;
    max-width: 1230px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items:center;
}
.section2 video{
    width: 40vw;
    height:50vh
}

.section2 div{
    width: 40vw;
}
.section2 div h2{
    font-family: Poligon;
    font-size: 2rem;
    font-weight: 600;
    text-align: start;
}

.curve{
    margin-left: 35vw;
    margin-top: -30vh;
}

.section3{
    background: center / cover no-repeat url("../../public/about2.png");
    /* max-width: 1230px; */
    margin: 0 auto;
    padding-bottom: 100px;
}

.section3 div{
    margin: 0 auto;
    margin-top: -40vh;
    max-width: 1230px;
}

.section3 div h2{
    font-family: Poligon;
    font-size: 2rem;
    font-weight: 600;
}

.section3 div p{
    margin-top: 15px;
}


