@font-face {
  font-family: 'Black Ops One';
  src: url('./fonts/BlackOpsOne-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('woff2');
}

.BlackOpsOne {
  font-family: 'Black Ops One';
}

.Poppins {
  font-family: Poppins;
}