.footerMenu {
  background: linear-gradient(100.98deg, #FFC55F 0%, #FB3951 58.18%, #E25A64 100%);
  border-radius: 400px
}

.footerBg {
  background-image: radial-gradient(circle 300px at 50% 150%, #fc925996, #ffffff0a);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}